<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>轩寤-剑三固定团活动报名系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/bootstrap/css/docs.css" />
    <link rel="stylesheet" href="/datetime/css/bootstrap-datetimepicker.min.css" />
</head>
<body>
    <!-- navbar-inverse 该类反转色彩，默认导航是白底黑字，翻转后黑底白字 -->
    <!-- navbar-fixed-top 需要在body上设置padding，在电脑屏幕时，固定在浏览器顶部，不随滚动条滚动 -->
    <!-- navbar-static-top 不需要设置padding，随滚动条滚动 -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">轩寤</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="/">系统首页</a>
                        </li>
                        <li class="active">
                            <a href="/activity/index">活动报名</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal" action="/activity/create" method="post">
            <fieldset>
                <legend>创建活动</legend>
                <div class="control-group">
                    <label class="control-label" for="name">活动名称</label>
                    <div class="controls">
                        <input type="text" name="name" id="name" placeholder="输入活动名称..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="masterId">团长ID</label>
                    <div class="controls">
                        <input type="text" name="masterId" id="masterId" placeholder="输入团长游戏ID..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="teamName">团队名称</label>
                    <div class="controls">
                        <input type="text" name="teamName" id="teamName" placeholder="输入团队招牌名称..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="minScore">最低装分要求</label>
                    <div class="controls">
                        <input type="text" name="minScore" id="minScore" placeholder="输入最低装分要求..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="start">活动开始时间</label>
                    <div class="controls">
                        <input type="text" name="start" id="start" readonly="readonly" placeholder="选择活动开始时间..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="end">活动结束时间</label>
                    <div class="controls">
                        <input type="text" name="end" id="end" readonly="readonly" placeholder="选择活动结束时间..."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="remark">活动说明</label>
                    <div class="controls">
                        <textarea rows="3" name="remark" id="remark"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">团队配置</label>
                    <div class="controls">
                        <table class="table table-bordered">
                            <tr>
                                <td>天策-傲血</td>
                                <td>天策-铁牢</td>
                                <td>纯阳-紫霞</td>
                                <td>纯阳-太虚</td>
                                <td>唐门-天罗</td>
                                <td>唐门-惊羽</td>
                            </tr>
                            <tr>
                                <td><input class="input-mini" type="text" name="AX" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="TL" th:value="0"/></td>
                                <td><input class="input-mini" type="text" name="ZX" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="TX" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="TL01" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="JY" th:value="1"/></td>
                            </tr>
                            <tr>
                                <td>万花-花间</td>
                                <td>万花-离经</td>
                                <td>七秀-云裳</td>
                                <td>七秀-冰心</td>
                                <td>长歌-莫问</td>
                                <td>长歌-相知</td>
                            </tr>
                            <tr>
                                <td><input class="input-mini" type="text" name="HJ" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="LJ" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="YS" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="BX" th:value="2"/></td>
                                <td><input class="input-mini" type="text" name="MW" th:value="3"/></td>
                                <td><input class="input-mini" type="text" name="XZ" th:value="0"/></td>
                            </tr>
                            <tr>
                                <td>五毒-毒经</td>
                                <td>五毒-补天</td>
                                <td>少林-易经</td>
                                <td>少林-洗髓</td>
                                <td>明教-明尊</td>
                                <td>明教-焚影</td>
                            </tr>
                            <tr>
                                <td><input class="input-mini" type="text" name="DJ" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="BT" th:value="2"/></td>
                                <td><input class="input-mini" type="text" name="YJ" th:value="2"/></td>
                                <td><input class="input-mini" type="text" name="XS" th:value="0"/></td>
                                <td><input class="input-mini" type="text" name="MZ" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="FY" th:value="0"/></td>
                            </tr>
                            <tr>
                                <td>苍云-分山</td>
                                <td>苍云-铁骨</td>
                                <td>藏剑-藏剑</td>
                                <td>丐帮-丐帮</td>
                                <td>霸刀-霸刀</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td><input class="input-mini" type="text" name="FS" th:value="1"/></td>
                                <td><input class="input-mini" type="text" name="TG" th:value="0"/></td>
                                <td><input class="input-mini" type="text" name="CJ" th:value="2"/></td>
                                <td><input class="input-mini" type="text" name="GB" th:value="2"/></td>
                                <td><input class="input-mini" type="text" name="BD" th:value="3"/></td>
                                <td>　</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button type="submit" class="btn">提交</button>
            </fieldset>
        </form>

        <div th:each="error:${errors}">
            <span th:text="${error}"></span>
        </div>
    </div>


    <script type="text/javascript" src="/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/datetime/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/datetime/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script type="text/javascript">
        $('#start').datetimepicker({
            language:  'zh-CN',
            weekStart: 0,
            todayBtn:  1,
            autoclose: 1,
            showMeridian: 1
        });
        $('#end').datetimepicker({
            language:  'zh-CN',
            weekStart: 0,
            todayBtn:  1,
            autoclose: 1,
            showMeridian: 1
        });
    </script>
</body>
</html>