<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/bootstrap/css/docs.css" />
</head>
<body>
    <!-- navbar-inverse 该类反转色彩，默认导航是白底黑字，翻转后黑底白字 -->
    <!-- navbar-fixed-top 需要在body上设置padding，在电脑屏幕时，固定在浏览器顶部，不随滚动条滚动 -->
    <!-- navbar-static-top 不需要设置padding，随滚动条滚动 -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">轩寤</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="/">系统首页</a>
                        </li>
                        <li class="active">
                            <a href="/activity/index">风雷刀谷</a>
                        </li>
                        <li class="">
                            <a href="#">上阳宫</a>
                        </li>
                        <li>
                            <a href="#">开荒团</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit">
            <h1>创建活动成功！！！</h1>
        </div>
    </div>

    <script type="text/javascript" src="/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>