<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>轩寤-剑三固定团活动报名系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/bootstrap/css/docs.css" />
</head>
<body>
    <!-- navbar-inverse 该类反转色彩，默认导航是白底黑字，翻转后黑底白字 -->
    <!-- navbar-fixed-top 需要在body上设置padding，在电脑屏幕时，固定在浏览器顶部，不随滚动条滚动 -->
    <!-- navbar-static-top 不需要设置padding，随滚动条滚动 -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">轩寤</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="/">系统首页</a>
                        </li>
                        <li class="active">
                            <a href="/activity/index">活动报名</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit">
            <h3 th:text="'【'+${activity.teamName}+'】'+${activity.name}">团本报名</h3>
            <p></p>
            <p class="text-error">团长ID：<span th:text="${activity.masterId}"></span></p>
            <p></p>
            <p th:text="'说 明：'+${activity.remark}"></p>
            <p></p>
        </div>
        <h4>已报名人员信息　　<a class="btn btn-primary" th:href="@{'/signUp'(activityId=${activity.id})}">我要报名</a></h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>　</th>
				<th>群昵称</th>
                <th>角色ID</th>
                <th>职业</th>
                <th>心法</th>
                <th>是否双修</th>
                <th>装分</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="signer,iterStat:${signs}">
                <td th:text="${iterStat.index + 1}"></td>
				<td th:text="${signer.nickName}">Onions</td>
                <td th:text="${signer.roleId}">Onions</td>
                <td th:text="${signer.roleType}">test@test.com.cn</td>
                <td th:text="${signer.roleName}">yes</td>
                <td th:text="${signer.isDouble > 0}? '是' : '否'">yes</td>
                <td th:text="${signer.score}">yes</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>