<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jonda.team.repository.ConfigRepository">
    <resultMap id="configResultMap" type="com.jonda.team.repository.entity.ConfigurationEntity">
        <result column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="AX" property="AX"/>
        <result column="TL" property="TL"/>
        <result column="ZX" property="ZX"/>
        <result column="TX" property="TX"/>
        <result column="TL01" property="TL01"/>
        <result column="JY" property="JY"/>
        <result column="HJ" property="HJ"/>
        <result column="LJ" property="LJ"/>
        <result column="YS" property="YS"/>
        <result column="BX" property="BX"/>
        <result column="MW" property="MW"/>
        <result column="XZ" property="XZ"/>
        <result column="DJ" property="DJ"/>
        <result column="BT" property="BT"/>
        <result column="YJ" property="YJ"/>
        <result column="XS" property="XS"/>
        <result column="MZ" property="MZ"/>
        <result column="FY" property="FY"/>
        <result column="FS" property="FS"/>
        <result column="TG" property="TG"/>
        <result column="CJ" property="CJ"/>
        <result column="GB" property="GB"/>
        <result column="BD" property="BD"/>
    </resultMap>
</mapper>