<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jonda.team.repository.SignUpRepository">
    <resultMap id="signUpResultMap" type="com.jonda.team.repository.entity.SignUpEntity">
        <result column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="roleId" property="roleId"/>
        <result column="roleType" property="type"/>
        <result column="type" property="roleType"/>
        <result column="roleName" property="roleName"/>
        <result column="dub" property="isDouble"/>
        <result column="score" property="score"/>
    </resultMap>
</mapper>